NEXT_PUBLIC_PRESET=0
NEXTAUTH_URL=0
NEXT_PUBLIC_ADMIN_UID=0
API_KEY_BOOKS=0
NEXT_PUBLIC_DECRYPT=0
FIREBASE_PRIVATE_KEY=0
FIREBASE_API_KEY=0
FIREBASE_CLIENT_EMAIL=0
COOKIE_SECRET_PREVIOUS=0
COOKIE_SECRET_CURRENT=0
NEXTAUTH_SECRET=0
