@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply sm:overflow-y-scroll font-pop;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #35435b;
}
